#error404 {
  width: var(--width_full);
  height: var(--heightVH);
  background-image: url("/images/error/error.png");
  background-repeat: no-repeat;
  background-position-y: bottom -100px;
  background-size: cover;
}
