#error404 {
  max-width: var(--width_full);
  min-height: var(--heightVH);
  background-image: url("/images/error/error.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
