/** Propriétés pour les cards */
.game_card {
  &.active {
    max-width: var(--width_full);
    min-height: var(--heightVH);
    background-image: url("/images/background/site/game/background_game.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
  }

  .card_wrapper {
    height: 0;
    opacity: 0;

    &.active {
      position: relative;
      height: var(--height_full);
      opacity: 1;
      padding: var(--padding_xxxxl);
      transition: all 1s ease-in-out;
    }

    &.game {
      height: var(--height_full);
      opacity: 1;
      transition: all 1s ease-in-out;
    }

    .card {
      height: 0;

      &.active {
        position: relative;
        width: var(--width_full);
        height: var(--height_full);
        opacity: 1;
        border-radius: 20px;
        flex-wrap: wrap;
        list-style: none;
        gap: 0.5rem;

        @media (max-width: 500px) {
          gap: 1rem;
        }

        @media (max-width: 860px) {
          gap: 0.2rem;
        }
      }

      &.finish {
        filter: blur(1.5rem);
        transition: all 1s ease;
      }

      .cardBlock {
        position: absolute;
        width: 130px;
        height: 130px;
        border-radius: 20px;
        background-color: var(--color_secondary08);
        border: 1px solid rgba(46, 64, 87, 0.6);

        &.disabled {
          pointer-events: none;
        }

        &.active {
          position: relative;
          display: flex;
          /* perspective se met sur les enfants */
          transform-style: preserve-3d;
          transition: all 0.5s ease-in-out;

          @media (max-width: 1218px) {
            width: 120px;
            height: 120px;
          }

          @media (max-width: 960px) {
            width: 80px;
            height: 80px;
          }

          @media (max-width: 746px) {
            width: 70px;
            height: 70px;
          }

          @media (max-width: 585px) {
            width: 60px;
            height: 60px;
          }
        }

        &.returnCard {
          transform: rotateY(180deg);
        }

        .cardFront,
        .cardBack {
          position: absolute;
          max-width: var(--width_full);
          width: var(--width_full);
          height: var(--height_full);
          backface-visibility: hidden;
          -webkit-backface-visibility: hidden;
          border-radius: 20px;
        }

        .cardBack {
          transform: rotateY(180deg);
        }

        .cover {
          object-fit: cover;
        }

        .contain {
          object-fit: contain;
        }
      }
    }

    .textFinishParent {
      position: absolute;
      top: 50%;
      margin-top: -80px;
      font-family: var(--font_primary);
      font-size: var(--fontSize_xxl);
      font-weight: bold;
      color: var(--color_secondary);

      .textFinish {
        width: 100%;
        height: 100%;
        padding: var(--padding_xxl);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: var(--color_primary08);

        img {
          max-width: 100px;
          width: 100px;
          object-fit: cover;
        }

        p {
          font-size: var(--fontSize_md);
          padding: var(--padding_xs);
        }
      }

      .buttonParent {
        height: 0;
        opacity: 0;

        &.active {
          height: 100%;
          display: flex;
          justify-content: center;
          text-align: center;
          opacity: 1;
          transition: all 1s ease-in-out;
          margin: var(--margin_reg);

          @media (max-width: 560px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: var(--margin_reg);
          }
        }

        .replay,
        .scores {
          width: 200px;
          font-family: var(--font_primary);
          font-size: var(--fontSize_s);
          font-weight: bold;
          background-color: var(--color_primary);
          color: var(--color_secondary);
          text-decoration: none;
          padding: var(--padding_reg);
          margin: var(--margin_s);
          border-radius: 15px;
          border: none;
          transition: all 1s ease-in-out;
          cursor: pointer;

          @media (max-width: 680px) {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}