#main_trophy {
  max-width: var(--width_full);
  min-height: var(--heightVH);
  background-image: url("/images/background/site/background.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .trophy {
    max-width: 80%;
    min-height: 70vh;
    margin: var(--margin_reg) auto;
    padding: var(--padding_md);
    font-family: var(--font_primary);
    font-weight: bold;
    background-color: var(--color_secondary08);
    border-radius: 50px;

    @media (prefers-color-scheme: dark) {
      background-color: var(--color_primary08);
      border: 2px solid var(--color_secondary);
    }

    @media (max-width: 680px) {
      max-width: var(--width_full);
    }

    h1 {
      padding: var(--fontSize_md);
      font-size: var(--fontSize_xl);

      @media (prefers-color-scheme: dark) {
        color: var(--color_secondary);
      }

      @media (max-width: 680px) {
        font-size: var(--fontSize_l);
      }
    }

    table {
      margin: 100px auto;
      border-collapse: collapse;
      color: var(--color_primary);

      @media (max-width: 830px) {
        margin: 0 var(--margin_reg);
      }

      @media (max-width: 500px) {
        margin: 0 auto;
      }

      thead {
        @media (max-width: 830px) {
          display: none;
        }

        tr {
          .no_text {
            border: none;
          }

          .text {
            padding: 20px 40px;
            color: var(--color_secondary);
            background-color: var(--color_octonary06);
            border: 2px solid var(--color_primary);

            @media (prefers-color-scheme: dark) {
              background-color: var(--color_secondary05);
              border: 2px solid var(--color_secondary);
            }

            @media (max-width: 1000px) {
              padding: var(--padding_md) 30px;
            }
          }
        }
      }

      tbody {
        tr {
          th {
            text-align: start;
            padding: var(--padding_md) var(--padding_xxl);
            border: 2px solid var(--color_primary);
            text-decoration: underline;
            background-color: var(--color_octonary06);
            color: var(--color_secondary);

            @media (prefers-color-scheme: dark) {
              background-color: var(--color_secondary05);
              border: 2px solid var(--color_secondary);
            }

            @media (max-width: 1000px) {
              padding: 20px;
            }
          }

          td {
            text-align: center;
            padding: var(--padding_s);
            border: 2px solid var(--color_primary);

            @media (prefers-color-scheme: dark) {
              border: 2px solid var(--color_secondary);
              color: var(--color_secondary);
            }
          }
        }
      }
    }

    table,
    thead,
    tbody,
    tr,
    th,
    td,
    .no_text,
    text {

      @media (max-width: 830px) {
        display: block;
        padding: var(--padding_reg) 0;

        td {
          position: relative;
          padding-left: 150px;
          margin-top: -2px;

          &:before {
            content: attr(data-label);
            position: absolute;
            width: 150px;
            height: var(--height_full);
            display: flex;
            align-items: center;
            top: 0;
            left: 0;
            padding: 0 var(--padding_s);

            @media (max-width: 500px) {
              width: 110px;
            }
          }
        }
      }
    }

    .button {
      .warning_text {
        font-family: var(--font_secondary);
        color: var(--color_sexary);
        font-size: var(--fontSize_s);

        @media (prefers-color-scheme: dark) {
          font-weight: 400;
          color: var(--color_sexary);
        }
      }

      button {
        width: 150px;
        font-family: var(--font_primary);
        font-size: var(--fontSize_s);
        font-weight: bold;
        background-color: var(--color_primary);
        color: var(--color_secondary);
        margin: var(--margin_reg);
        padding: var(--padding_s);
        border-radius: 15px;
        border: none;
        cursor: pointer;

        @media (prefers-color-scheme: dark) {
          background-color: var(--color_secondary);
          color: var(--color_primary);
        }

        &:hover {
          background-color: var(--color_tertiary);
          transform: scale(1.02);

          @media (prefers-color-scheme: dark) {
            background-color: var(--color_octonary);
            color: var(--color_secondary);
            border: 2px solid var(--color_secondary)
          }
        }
      }
    }
  }
}

/* Thème dark */
body.dark #main_trophy {

  .trophy {
    background-color: var(--color_primary08);
    border: 2px solid var(--color_secondary);

    h1 {
      color: var(--color_secondary);
    }

    table {
      thead {
        tr {
          .text {
            background-color: var(--color_secondary05);
            border: 2px solid var(--color_secondary);
          }
        }
      }

      tbody {
        tr {
          th {
            background-color: var(--color_secondary05);
            border: 2px solid var(--color_secondary);
          }

          td {
            border: 2px solid var(--color_secondary);
            color: var(--color_secondary);
          }
        }
      }
    }
  }

  .button {
    button {
      background-color: var(--color_secondary);
      color: var(--color_primary);

      &:hover {
        background-color: var(--color_octonary);
        border: 2px solid var(--color_secondary);
        color: var(--color_secondary);
      }
    }
  }

  .warning_text {
    font-weight: 400;
    color: var(--color_sexary);
  }
}