footer {
  display: block;
  max-width: var(--width_full);
  background-color: var(--color_primary);

  @media (prefers-color-scheme: dark) {
    border-top: 2px solid var(--color_secondary);
  }

  &.game {
    display: none;
  }

  p {
    padding: var(--padding_s);
    color: var(--color_secondary);
    font-family: var(--font_primary);
    font-size: var(--fontSize_xs);
  }
}

/* Thème dark */

body.dark footer {
  border-top: 2px solid var(--color_secondary);
}
