<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONT GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet" />

    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="../../css/style.css" />

    <!-- Lien vers le fichier JS -->
    <script src="/js/main.js" type="module" defer></script>
    <script src="/js/contact/contact.js" type="module" defer></script>
    <script src="/js/utils/cachePassword.js" type="module" defer></script>

    <!-- Lien vers 'fontawesome' -->
    <script src="https://kit.fontawesome.com/2cbf82340f.js" crossorigin="anonymous"></script>

    <!-- Lien vers 'favicon' -->
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon" />

    <title>Memory Game</title>
  </head>
  <body>
    <header class="flex flex_center"></header>

    <main class="flex" id="main_contact">
      <div class="container">
        <div class="contact flex direction_column align_center">
          <h1 class="text_center">Contactez-nous.</h1>
          <!-- novalidate => permet de désactiver la validation native pour contrôler les champs et afficher un message d'erreur -->
          <form method="post" id="form" novalidate>
            <div class="block1 flex">
              <div class="name flex direction_column">
                <label for="name">Nom :</label>
                <input name="name" id="name" type="text" placeholder="nom" required />
              </div>
              <div class="lastname flex direction_column">
                <label for="lastname">Prénom :</label>
                <input name="lastname" id="lastname" type="text" placeholder="prénom" required />
              </div>
            </div>
            <div class="block2 flex">
              <div class="email flex direction_column">
                <label for="email">E-mail :</label>
                <input name="email" id="email" type="email" placeholder="e-mail" autocomplete="off" required />
              </div>
              <div class="password flex direction_column">
                <label for="password">Mot de passe :</label>
                <div class="iconsContainer">
                  <input
                    name="password"
                    id="password"
                    type="password"
                    placeholder="mot de passe"
                    autocomplete="new-password" 
                    required />
                  <i class="fa-solid fa-eye iconEye"></i>
                  <i class="fa-solid fa-eye-slash iconEyeCash"></i>
                </div>
              </div>
            </div>
            <div class="message flex direction_column align_center">
              <label for="message">Message :</label>
              <textarea name="message" id="message" rows="10" placeholder="message" required></textarea>
            </div>
            <div class="button flex flex_center">
              <button type="submit" id="button_form">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
