<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONT GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet" />

    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="../../css/style.css" />

    <!-- Lien vers le fichier JS -->
    <script src="/js/main.js" type="module" defer></script>

    <!-- Lien vers 'fontawesome' -->
    <script src="https://kit.fontawesome.com/2cbf82340f.js" crossorigin="anonymous"></script>

    <!-- Lien vers 'favicon' -->
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon" />

    <title>Error - Page Not Found</title>
  </head>
  <body>
    <header class="flex flex_center"></header>

    <main id="error404"></main>
    <footer></footer>
  </body>
</html>
