<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONT GOOGLE -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet" />

    <!-- Lien vers le fichier CSS -->
    <link rel="stylesheet" href="../../css/style.css" />

    <!-- Lien vers le fichier JS -->
    <script src="/js/main.js" type="module" defer></script>
    <script src="/js/scores/scores.js" type="module" defer></script>
    <script src="/js/utils/responsiveTable.js" type="module" defer></script>

    <!-- Lien vers 'fontawesome' -->
    <script src="https://kit.fontawesome.com/2cbf82340f.js" crossorigin="anonymous"></script>

    <!-- Lien vers 'favicon' -->
    <link rel="icon" href="/images/favicon/favicon.ico" type="image/x-icon" />

    <title>Memory Game</title>
  </head>
  <body>
    <header class="flex flex_center"></header>

    <main class="flex" id="main_trophy">
      <div class="container">
        <div class="trophy">
          <h1 class="text_center">Découvrez le nombre de parties gagnées !</h1>
          <table class="table-responsive">
            <thead>
              <tr>
                <th class="no_text"></th>
                <th class="text">Facile 🥉​​</th>
                <th class="text">Moyen 🥈​​</th>
                <th class="text">Difficile 🥇​</th>
              </tr>
            </thead>
            <tbody>
              <tr class="scoreDora">
                <th>Thème Dora :</th>
                <td class="easy">0</td>
                <td class="medium">0</td>
                <td class="hard">0</td>
              </tr>
              <tr class="scorePatPatrouille">
                <th>Thème Pat Patrouille :</th>
                <td class="easy">0</td>
                <td class="medium">0</td>
                <td class="hard">0</td>
              </tr>
              <tr class="scoreDino">
                <th>Thème Dinosaures :</th>
                <td class="easy">0</td>
                <td class="medium">0</td>
                <td class="hard">0</td>
              </tr>
            </tbody>
          </table>
          <div class="button flex direction_column align_center">
            <button id="buttonScore">Réinitialiser</button>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
