<div class="container flex flex_between">
  <a class="logo" href="../../index.html">
    <img class="flex" src="../../images/logo/logo_small.png" alt="Image du logo avec 4 carrés et le mot mémo" />
  </a>
  <nav class="nav flex align_center">
    <ul class="flex">
      <li class="link" id="home">
        <a class="flex direction_column text_center" href="../../index.html">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>
      </li>
      <li class="link" id="personnages">
        <a class="flex direction_column text_center" href="/index.html#home_personnages">
          <i class="fa-solid fa-user"></i>
          <span>Personnages</span>
        </a>
      </li>
      <li class="link" id="scores">
        <a class="flex direction_column text_center" href="../../include/views/trophy.html">
          <i class="fa-solid fa-trophy"></i>
          <span>Scores</span>
        </a>
      </li>
      <li class="link" id="contact">
        <a class="flex direction_column text_center" href="../../include/views/contact.html">
          <i class="fa-solid fa-envelope"></i>
          <span>Contact</span>
        </a>
      </li>
      <li class="link" id="dark_light">
        <span id="light">
          <i class="fa-regular fa-sun"></i>
        </span>
        <span id="dark">
          <i class="fa-solid fa-moon"></i>
        </span>
      </li>
    </ul>
  </nav>
  <div class="burger_icon">
    <span id="span1"></span>
    <span id="span2"></span>
    <span id="span3"></span>
  </div>
</div>
